/*!
 * Theme Suka Website | style.css
 * Author: SukkaW
 * Link: https://github.com/theme-suka/theme-suka.github.io
 * License: GPL-3.0
 */

/* Global */

body,
html {
    overflow-x: hidden !important;
    -webkit-font-smoothing: antialiased;
}

/* Override the Spectre.css */

html a:focus,
html .btn:focus {
    box-shadow: none !important;
}

.card {
    /* Remove card border */
    border: none;
}

.timeline .timeline-item:last-child::before {
    /* Fix timeline */
    background: transparent;
}

/* Scrollbar */

html *::-webkit-scrollbar {
    width: 6px;
    height: 4px;
    background: transparent;
}

@media (min-width: 1024px) {
    html *::-webkit-scrollbar {
        width: 8px;
        height: 6px;
    }
}

html *::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .3);
}

.suka-devide-dot::after {
    content: " · "
}

header img.navbar-icon {
    height: 1.8rem;
    width: auto;
}

a,
a:visited {
    color: #0070ff
}

a:active,
a:focus,
a:hover {
    color: #0070ff;
    opacity: .75
}

a.navbar-link,
a.navbar-link:visited,
.timeline .timeline-item .timeline-icon.icon-lg {
    color: #0070ff !important
}

.navbar-link:hover {
    color: #0070ff;
    opacity: .8
}

/* Hero */

.suka-hero {
    background-color: #f5f5f5;
    position: relative;
    height: 30rem;
    z-index: 1;
}

.suka-navbar {
    background-color: #f5f5f5;
}

.hero-headline {
    padding-top: 12rem;
}

.suka-hero .btn,
.suka-responsive .btn {
    background: transparent;
    border: .05rem solid #777;
    color: #777;
}

/* Responsive */

.suka-responsive {
    padding-top: 4rem;
    background: #fefefe
}

.suka-responsive .btn-link {
    border: transparent;
}